.Signup {
  text-align: center;
  cursor: pointer;
  color: #545252;
}

.Signup:hover {
  color: #7a52c0;
}

.Login {
  text-align: center;
  cursor: pointer;
  color: #545252;
  line-height: 30px;
}

.Login:hover {
  color: #7a52c0;
}
